@mixin height($height) {
    height: $height;
    line-height: $height;
}

@mixin clear() {
    &:after{
        content:"";
        display:block;
        clear:both;
    }
}

@mixin transition($item, $duration, $type) {
    -webkit-transition: $item $duration $type;
    -moz-transition: $item $duration $type;
    -o-transition: $item $duration $type;
    transition: $item $duration $type;
}

@mixin gridX($item, $margin){
    $num1: 100% / $item;
    $num2: ($item - 1) * $margin;
    width: calc(#{$num1} - #{$num2});
    &:nth-child(n+2){margin-left:$margin;}
    &:nth-child(#{$item}n+1){margin-left:0;}
    &:nth-child(n+#{$item + 1}){margin-top:$margin;}
}

@mixin modal($top, $left){
	position: absolute;
    top: $top;
	left: $left;
}