@charset "UTF-8";
@import './variables'; 
@import './mixin';



header{
    @include height(80px);
    display:none;
    width: 100%;
    padding:0 20px;
    z-index: 100;
    box-sizing: border-box;
    position: fixed;    
    @include clear();    
    nav{
        float:left;
        > ul{
            @include clear();
            > li{
                float:left;
                padding:0 30px;
                position: relative;                             
                > ul{
                    max-height:0px;
                    overflow: hidden;
                    position: absolute;                   
                    @include transition(all, 0.3s, ease);
                    > li{
                        width:100%;                       
                    }
                }
                &:hover{
                    > ul{
                        max-height:200px;
                    }
                }
                a{display:block;}
            }
        }
    }
}
#menu{
    float:left;
    position: relative;
    width:20px;
    height:20px;
    margin:16px 20px 0 0;
    cursor:pointer;
    span{
        position: absolute;
        display:inline-block;
        width:100%;
        height:3px;
        background-color:#555;
        left:0;
        transition: all 0.2s ease;
        z-index: 12;
    }    
    .menu-top{top:0;}
    .menu-middle{ top: 7px; }
    .menu-bottom{top:14px;}


    &.active{       
        .menu-top{
            top: 10px;
            transform: rotate(50deg);
        }
        .menu-middle{
            opacity: 0;   
        }
        .menu-bottom{
            backface-visibility: hidden;
            top: 10px;
            transform: rotate(-410deg);
        }
    }
}
#logo{
    float:left;           
}

#sitemap{   
    position:relative;

    .sitemap-background{
        background-color: rgba($color: #000000, $alpha: 0.5);
        position: fixed;
        top:50px;
        left:0;
        width:0%;
        height:100%;
        z-index: 10;
        transition: 0.55s 0.3s;
    }
    
    .sitemap{
        position: fixed;
        top:50px;
        left:0;
        overflow-y: auto;
        width:0;
        height:100%;
        background-color:#fff;
        overflow:hidden;
        z-index:10; 
        transition: 0.55s 0.3s;

        li{
            @include height(35px);   
        }
    }

    &.active{
        .sitemap-background{width:100%;}
        .sitemap{width:250px;}
    }
}

#content{
    width:100%;
    min-height:800px;
    overflow:hidden;
}

footer{
    padding:20px;
    background-color:#ededed;
}

.btn-move__top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width:40px;
    border:1px solid #ddd;
    @include height(40px);

    .btn{
        width:100%;
        height:100%;
    }
}

/*scroll*/
::-webkit-scrollbar {
    width: 2px;
    height:3px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/****************
** mobile
*******/
@media (max-width: #{$breakpoint-mobile} ) {
    #menu{
        .sitemap-circle{
            background-color:#f3f3f3;
            border-radius:50%;
            width:0px;
            height:0px;
            position:absolute;
            top: 10px;
            left: 10px;
            transition: all 0.3s ease;
        }

        &.active{
            .sitemap-circle{
                width:1200px;
                height:1200px;
                z-index: 11;
                top:-100px;
                left:-400px;
            }
        }
    }

    #sitemap{                
        &.active{
            .sitemap{width:100%;}
        }
    }
}